header {
    text-align: center;
    background-color: black;
    padding-bottom: 1px;
}

body {
    background-color: black;
}
h1 {
    font-size: 90px;
    color: tan;
    background-color: black;
    text-decoration: underline #63603B; 
    margin-bottom: 0px;   

}

h2 {
    color: #63603B;
    font-size: 35px;
    text-align: center;
}

h3 {
    color: #686549;
    font-size: 25px;
    text-align: center; 
}

h4 {
    color: #8f8b65;
    text-align: justify;
    display: flex
    width: 1200px;
    margin: auto;
}

table {
    margin: 20px auto;
    width: 70%;
    background-color: black;
}


th, td {
    background-color: #9D876B;
    text-align: center;
}

a {
    color: black;
}

footer {
    margin-top: 350px;
    text-align: center;
    color: tan;
}

.subheading {
    color: #a19c60;
    margin-top: 0px;
    margin-bottom: 100px;
    letter-spacing: 2px;
    word-spacing: 100px;
}

.stretchtable {
    display: flex;
}

#histphoto {
    height: 600px;
}